.manage-users-container {
    padding: 10px;

    .title {
        font-weight: 600;
        font-size  : 20px;

    }

    .users-content {
        .btn-add-new {
            button {
                margin: 15px 0
            }
        }
    }
}

.modal-add-user {
    .img-preview {
        height         : 150px;
        border         : 1px dashed black;
        border-radius  : 5px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        color          : #ccc;

        img {
            max-width : 100%;
            max-height: 100%;
        }
    }

    .label-upload {
        display      : flex;
        align-items  : center;
        gap          : 5px;
        padding      : 3px 10px;
        width        : fit-content;
        border       : none;
        border-radius: 5px;
        background   : rgb(201, 209, 209);
        cursor       : pointer;

        &:hover {
            background: rgb(193, 193, 193);
        }
    }
}

.modal-view-user {
    .img-preview {
        height         : 150px;
        width          : auto;
        border         : 1px dashed black;
        border-radius  : 5px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        color          : #ccc;

        img {
            max-width : 100%;
            max-height: 100%;
        }
    }

    .user-info {
        display       : flex;
        flex-direction: column;
    }

    .user-info-row {
        display      : flex;
        align-items  : center;
        margin-bottom: 10px;

        .view-user-label {
            font-size  : 25px;
            font-weight: 600;
            width      : 200px;
            white-space: nowrap;
        }

        .view-user-label-data {
            font-size: 25px;
            flex-grow: 1;
        }
    }
}